.modalCentered {
  top: 50%;
  transform: translate(0, -50%);
  width: 50%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 9999;
}

.titleModal {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: rgb(23, 98, 148);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  color: rgb(23, 98, 148);
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 80%;
  max-width: 400px;
  padding-top: 3%;
}

.title {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgb(23, 98, 148);
  margin-top: 3%;
}

.add {
  color: rgb(23, 98, 148);
  background-color: transparent;
  border: none;
  font-size: 28px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.button {
  border-radius: 8px;
  border: 1px solid rgb(23, 98, 148);
  color: #ffffff;
  width: 80px;
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background-color: rgb(23, 98, 148);
  cursor: pointer;
  border-color: rgb(23, 98, 148);
  transition: border-color 0.25s;
}

.buttonSecond {
  border-radius: 8px;
  border: 1px solid gray;
  color: #ffffff;
  width: 80px;
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background-color: gray;
  cursor: pointer;
  border-color: gray;
  transition: border-color 0.25s;
}

.disabledButton {
  background-color: rgba(128, 128, 128, 0.452);
  border-color: gray;
  color: white;
  cursor: not-allowed;
}
