.modalCentered {
  top: 50%;
  transform: translate(0, -50%);
  width: 50%;
  max-width: 400px;
  width: 50%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 9999;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  color: rgb(23, 98, 148);
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 80%;
  max-width: 400px;
  padding-top: 3%;
}

.titleModal {
  margin-top: 40%;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: rgb(23, 98, 148);
  text-align: center;
}

.add {
  color: rgb(23, 98, 148);
  background-color: transparent;
  border: none;
  font-size: 28px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
}

.phone {
  font-size: 14px;
  font-style: oblique;
  color: gray;
  text-align: center;
}

.containerProfile{
  
}

.profileIcon{
  right: 35%;
  position: absolute;
  font-size: 80px;
  color: gray;
}
